---
title: Alloy Index
subtitle: This is where the fun starts!

nav-variant: "home"
nav-title: "Go to the Home"
nav-text: "Home"
navigation-main: true
navigation-order: 1
---

<main class="w w--main">
	<div class="g">
		<div class="c__lg--1">

			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

				<div class="page__body">
					{{#withSort page-category "page.title"}}
					<h2>{{page-category}}</h2>
					<ul class="list list--alloythumbs horizontal c">
	    				{{#each this.pages}}
		            		{{#this}}
							{{#isnt data.navigation-main true}}
								<li class="list__item">
									<a href="{{relative ../../../../page.dest this.dest}}" class="card card--alloythumb{{#if page.nav-variant}} card--{{data.nav-variant}}{{/if}}" title="{{data.nav-title}}"{{#if data.nav-target}} target="{{data.nav-target}}"{{/if}}>
										<div class="card__front">
											<div class="card__head">{{#if data.nav-thumb}}<img src="/assets/img/thumbs/{{data.nav-thumb}}" alt="{{data.nav-text}}" class="card__image" />{{/if}}
												<div class="card__title">{{capitalizeFirst data.nav-text}}</div>
											</div>
										</div>
									</a>
								</li>
		                	{{/isnt}}
	                        {{/this}}
	        			{{/each}}
	                </ul>
	                {{/withSort}}
				</div>
			</div>

		</div>
	</div>
</main>
