---
title: Alloy Index
subtitle: This is where the fun starts!

nav-variant: "home"
nav-title: "Go to the Home"
nav-text: "Home"
navigation-main: true
navigation-order: 1
---

<main class="w w--main">
	<div class="g">
		<div class="c__lg--1">

			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

				<div class="page__body rte">
					{{#withSort page-category "page.title"}}
					<h2>{{page-category}}</h2>
					<ul>
	    				{{#each this.pages}}
		            		{{#this}}
	                        <li><a class="list__link list__link--{{data.nav-variant}}" href="{{relative ../../../page.dest this.dest}}" title="{{data.nav-title}}"><span>{{capitalizeFirst data.nav-text}}</span></a></li>
	                        {{/this}}
	        			{{/each}}
	                </ul>
	                {{/withSort}}
				</div>
			</div>

		</div>
	</div>
</main>
