{{#this}}
<div class="accordion{{#if item.modifier}} accordion--{{item.modifier}}{{/if}}"{{#if item.multiselectable}} aria-multiselectable="true"{{/if}} aria-live="polite">
	{{#each content.tabs}}
	<div class="accordion__tab{{#if content.expanded}} open{{/if}} tab--{{content.id}}" aria-controls="{{content.id}}" role="tab" data-accordionindex="#{{content.id}}">
		<a href="#{{content.id}}" class="accordion__title">{{content.title}}</a>
	</div>
	<div id="{{content.id}}" class="accordion__panel rte" role="tabpanel" aria-labeledby="tab--{{content.id}}">{{content.body}}</div>
	{{/each}}
</div>
{{/this}}