{{#this}}
	<article class="article{{#if item.modifier}} article--{{item.modifier}}{{/if}}">
		<header class="article__head">
			<h1 class="article__title">{{{content.title}}}</h1>
			{{#if "subtitle"}}
				<p class="article__subtitle">{{{content.subtitle}}}</p>
			{{/if}}
		</header>
		{{#if content.image}}
		<div class="article__thumb"><img src="{{content.image}}" alt=""/></div>
		{{/if}}
		<div class="article__body rte">
			{{{content.body}}}
		</div>
		<footer class="article__foot">
		{{#each actions}}
			{{#if buttons}}
				{{#each buttons}}
					{{#this}}
					{{> button }}
					{{/this}}
				{{/each }}
			{{/if}}
		{{/each }}
		</footer>
	</article>
{{/this}}