{{#this}}
	<article class="article{{#if item.modifier}} article--{{item.modifier}}{{/if}}">
		<header class="article__head">
			<h1 class="article__title">{{{content.title}}}</h1>
			{{#if "subtitle"}}
				<p class="article__subtitle">{{{content.subtitle}}}</p>
			{{/if}}
		</header>
		{{#if content.thumb}}
		<div class="article__thumb">
			<img src="{{content.thumb}}" alt=""/>
		</div>
		{{/if}}
		<div class="article__body rte">
			{{{content.body}}}
			<aside class="article__aside rte">
				<h4>Aside title</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere placerat eros ut lobortis.</p>
			</aside>
		</div>
		<footer class="article__foot">
			{{!-- {{#each actions}}
				{{#if buttons}}
					{{#each buttons}}
						{{#this}}
						{{> button }}
						{{/this}}
					{{/each }}
				{{/if}}
			{{/each }} --}}
			
			<div class="share">
				<a href="#" class="share__link">
					<i class="icon icon--facebook56"></i>
					<span></span>
				</a>
				<a href="#" class="share__link">
					<i class="icon icon--twitter47"></i>
					<span></span>
				</a>
			</div>

		</footer>
	</article>
{{/this}}