{{#this}}
<div class="banner{{#if attribute.modifier}} banner--{{attribute.modifier}}{{/if}}"{{#if content.backgroundUrl}} style="background-image:url('{{content.backgroundUrl}}')"{{/if}}>
    
    {{#if content.blurUrl}}
    <div class="blurMask">
        <div class="blurMask__overlay">
            <div class="blurMask__width">
                <div class="blurMask__background" style="background-image:url('{{content.blurUrl}}')"></div>
            </div>
        </div>
    </div>
    {{/if}}

    <div class="banner__content">
        <div class="banner__foreground">

            {{#if content.foregroundUrl}}<img src="{{content.foregroundUrl}}" class="banner__image" alt="{{content.foregroundUrl}}" />{{/if}}

            <div class="banner__title">{{content.title}}</div>
            <div class="banner__subtitle">{{content.subtitle}}</div>
            <div class="banner__body rte">{{{content.body}}}</div>
        
            {{#if actions}}
            <div class="banner__actions">
                {{#each actions}}
                    {{#if buttons}}
                        {{#each buttons}}
                            {{#this}}
                                {{> button }}
                            {{/this}}
                        {{/each }}
                    {{/if}}
                {{/each }}
            </div>
            {{/if}}

        </div>
    </div>
</div>
{{/this}}