{{#this}}
<div class="box box--{{box_variant}}">
	<div class="box__head"><span class="box__title">{{box_title}}</span></div>
	<div class="box__body"><p>{{box_body}}</p></div>
	<div class="box__foot">{{#if box_button-url}}<a href="{{box_button-url}}" title="{{box_button-title}}">{{#if box_button-icon}}<i class="icon icon--{{box_button-icon}}"></i>{{/if}}<span>{{box_button-text}}</span></a>{{/if}}</div>
</div>
{{/this}}