{{#this}}
<ul class="list list__breadcrumb{{#if item.modifier}} list__breadcrumb--{{item.modifier}}{{/if}}">
	<li class="list__item">
		{{#if content.url}}
			<a href="{{content.url}}" class="list__link" title="{{content.title}}">
			{{#if content.icon}}{{#each content.icon}}{{>icon}}{{/each}}{{/if}}
			<span>{{content.text}}</span></a>
		{{else}}
			{{#if content.icon}}{{#each content.icon}}{{>icon}}{{/each}}{{/if}}
			<span>{{content.text}}</span>
		{{/if}}
		{{#if content.crumb}}
		{{#each content.crumb}}
			{{#this}}
				{{> breadcrumbs__item }}
			{{/this}}
		{{/each}}
		{{/if}}
	</li>
</ul>
{{/this}}