{{#this}}
    {{#if content.url}}
    <a href="{{content.url}}"
        {{#if item.disabled}} disabled="disabled"{{/if}}
        {{#if item.target}} target="{{item.target}}"{{/if}}
        class="button
            {{#if item.modifier}} button--{{item.modifier}}{{/if}}
            {{#if item.disabled}} disabled{{/if}}
            {{#if item.size}} {{item.size}}{{/if}}
            {{#if item.block}} block{{/if}}"
        {{#if content.title}} title="{{content.title}}"{{/if}}>
        <span class="ripple"></span>
        {{#if content.icon}}{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}{{/if}}
        <span>
        {{content.text}}</span>
        {{#if content.badge}}{{#each content.badge}}{{#this}}{{>badge}}{{/this}}{{/each}}{{/if}}
    </a>
    {{else}}
    <span class="button
            {{#if item.modifier}} button--{{item.modifier}}{{/if}}
            {{#if item.disabled}} disabled{{/if}}
            {{#if item.size}} {{item.size}}{{/if}}"
        {{#if content.title}} title="{{content.title}}"{{/if}}>
        <span class="ripple"></span>
        {{#if content.icon}}{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}{{/if}}
        <span>{{content.text}}</span>
        {{#if content.badge}}{{#each content.badge}}{{#this}}{{>badge}}{{/this}}{{/each}}{{/if}}
    </span>
    {{/if}}
{{/this}}
