{{#this}}
    {{#if content.url}}
    <a href="{{content.url}}"
        {{#if item.disabled}} disabled="disabled"{{/if}}
        {{#if item.target}} target="{{item.target}}"{{/if}}
        class="button
            {{#if item.modifier}} button--{{item.modifier}}{{/if}}
            {{#if item.disabled}} disabled{{/if}}
            {{#if item.status}} {{item.status}}{{/if}}
            {{#if item.size}} {{item.size}}{{/if}}
            {{#if item.block}} block{{/if}}"
        {{#if content.title}} title="{{content.title}}"{{/if}}
        {{#if item.menu}} data-toggle="menu" aria-expanded="false"{{/if}}>
        <span class="ripple"></span>
        {{#if content.icon}}{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}{{/if}}
        {{#if content.text}}<span>{{content.text}}</span>{{/if}}
        {{#if content.badges}}{{#each content.badges}}{{#this}}{{>badge}}{{/this}}{{/each}}{{/if}}
        {{#if item.menu}}<span></span>{{/if}}
    </a>
    {{else}}
        {{#if content.type}}
            <button class="button
                    {{#if item.modifier}} button--{{item.modifier}}{{/if}}
                    {{#if item.disabled}} disabled{{/if}}
                    {{#if item.size}} {{item.size}}{{/if}}
                    {{#if item.block}} block{{/if}}"
                type="submit"
                {{#if item.disabled}} disabled="disabled"{{/if}}
                {{#if item.menu}} data-toggle="menu" aria-expanded="false"{{/if}}>
                <span class="ripple"></span>
                {{#if content.icon}}{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}{{/if}}
                {{#if content.text}}<span>{{content.text}}</span>{{/if}}
                {{#if content.badges}}{{#each content.badges}}{{#this}}{{>badge}}{{/this}}{{/each}}{{/if}}
            </button>
        {{else}}
            <span class="button
                    {{#if item.modifier}} button--{{item.modifier}}{{/if}}
                    {{#if item.disabled}} disabled{{/if}}
                    {{#if item.size}} {{item.size}}{{/if}}"
                {{#if content.title}} title="{{content.title}}"{{/if}}
                {{#if item.menu}} data-toggle="menu" aria-expanded="false"{{/if}}>
                <span class="ripple"></span>
                {{#if content.icon}}{{#each content.icon}}{{#this}}{{>icon}}{{/this}}{{/each}}{{/if}}
                {{#if content.text}}<span>{{content.text}}</span>{{/if}}
                {{#if content.badges}}{{#each content.badges}}{{#this}}{{>badge}}{{/this}}{{/each}}{{/if}}
            </span>
        {{/if}}
    {{/if}}
{{/this}}
