{{#this}}
<div class="card{{#if item.modifier}} card--{{item.modifier}}{{/if}}">

	<div class="card__front">
		<div class="card__head">
			{{#if content.image}}
			<img src="{{content.image}}" alt="" class="card__image" />
			{{/if}}
			<div class="card__title">{{content.title}}</div>
		</div>
		<div class="card__content">
			<div class="card__summary">{{{content.summary}}}</div>
		</div>
	</div>

	<div class="card__back init">
		<div class="card__content">
			<div class="card__title">{{content.title}}</div>
			<div class="card__body">{{{content.body}}}</div>
			{{#if actions}}
				<div class="card__actions">
				{{#each actions}}
					{{#if buttons}}
						{{#each buttons}}
							{{#this}}
							{{> button }}
							{{/this}}
						{{/each}}
					{{/if}}
				{{/each}}
				</div>
			{{/if}} 
		</div>
	</div>
	
</div>
{{/this}}