{{#this}}
<div class="cite{{#if attribute.modifier}} cite--{{attribute.modifier}}{{/if}}">
    <a href="{{content.url}}"
        {{#if attribute.disabled}} disabled="disabled"{{/if}}
        {{#if attribute.target}} target="{{attribute.target}}"{{/if}}
        class="cite__link
            {{#if attribute.disabled}} disabled{{/if}}
            {{#if attribute.size}} {{attribute.size}}{{/if}}
            {{#if attribute.block}} block{{/if}}"
        {{#if content.title}} title="{{content.title}}"{{/if}}>
        {{#if content.image}}
        <img src="{{content.image}}" class="cite__image" />
        {{/if }}
        <span class="cite__content">
            <span class="cite__title">{{content.title}}</span>
            <span class="cite__body">{{{content.body}}}</span>
            <span class="cite__refrence">{{{content.url}}}</span>
        </span>
    </a>
</div>
{{/this}}