{{#this}}
    <span class="form__input{{#if item.modifier}} form__input--{{item.modifier}}{{/if}}{{#if item.size}} {{item.size}}{{/if}}{{#if item.status}} {{item.status}}{{/if}}{{#if item.disabled}} disabled{{/if}}">
    <input
        type="date"
        role="textbox"
        class="input input--date"
        {{#if item.required}} required="required" aria-required="true"{{/if}}
        {{#if item.readonly}} readonly="readonly" aria-readonly="true"{{/if}}
        {{#if item.disabled}} disabled="disabled" aria-disabled="true"{{/if}}
        {{#if item.spellcheck}} spellcheck="true"{{/if}}
        {{#if item.id}} id="{{item.id}}"{{/if}}
        {{#if item.name}} name="{{item.name}}"{{/if}}
        {{#if item.maxlength}} maxlength="{{item.maxlength}}"{{/if}}
        {{#if item.pattern}} pattern="{{item.pattern}}"{{/if}}
        {{#if item.autocomplete}} autocomplete="{{item.autocomplete}}"{{/if}}
        {{#if item.tabindex}} tabindex="{{item.tabindex}}"{{/if}}
        {{#if item.accesskey}} accesskey="{{item.accesskey}}"{{/if}}
        {{#if content.placeholder}} placeholder="{{content.placeholder}}"{{/if}}
        {{#if content.value}} value="{{content.value}}"{{/if}}
    />
    </span>
{{/this}}
