{{#this}}

    <span class="input{{#if attribute.modifier}} input--{{attribute.modifier}}{{/if}}{{#if attribute.status}} {{attribute.status}}{{/if}}{{#if attribute.disabled}} disabled{{/if}}">
    <input
        type="checkbox"
        class="input__field input_field--checkbox"
        {{#if attribute.checked}} checked="checked" aria-checked="true"{{/if}}
        {{#if attribute.required}} required="required" aria-required="true"{{/if}}
        {{#if attribute.disabled}} disabled="disabled" aria-disabled="true"{{/if}}
        {{#if attribute.id}} id="{{attribute.id}}"{{/if}}
        {{#if attribute.name}} name="{{attribute.name}}"{{/if}}
        {{#if attribute.value}} value="{{attribute.value}}"{{/if}}
        {{#if attribute.tabindex}} tabindex="{{attribute.tabindex}}"{{/if}}
        {{#if attribute.accesskey}} accesskey="{{attribute.accesskey}}"{{/if}}
    />
        <label class="input__faux input__faux--checkbox" for=""{{attribute.id}}"></label>
</span>

{{/this}}
