{{#this}}

    <span class="input{{#if attribute.modifier}} input--{{attribute.modifier}}{{/if}}{{#if attribute.status}} {{attribute.status}}{{/if}}{{#if attribute.disabled}} disabled{{/if}}">
    <input
        type="date"
        role="textbox"
        class="input__field input__field--date"
        {{#if attribute.required}} required="required" aria-required="true"{{/if}}
        {{#if attribute.readonly}} readonly="readonly" aria-readonly="true"{{/if}}
        {{#if attribute.disabled}} disabled="disabled" aria-disabled="true"{{/if}}
        {{#if attribute.spellcheck}} spellcheck="true"{{/if}}
        {{#if attribute.id}} id="{{attribute.id}}"{{/if}}
        {{#if attribute.name}} name="{{attribute.name}}"{{/if}}
        {{#if attribute.maxlength}} maxlength="{{attribute.maxlength}}"{{/if}}
        {{#if attribute.pattern}} pattern="{{attribute.pattern}}"{{/if}}
        {{#if attribute.autocomplete}} autocomplete="{{attribute.autocomplete}}"{{/if}}
        {{#if attribute.tabindex}} tabindex="{{attribute.tabindex}}"{{/if}}
        {{#if attribute.accesskey}} accesskey="{{attribute.accesskey}}"{{/if}}
        {{#if content.placeholder}} placeholder="{{content.placeholder}}"{{/if}}
        {{#if content.value}} value="{{content.value}}"{{/if}}
    />
</span>

{{/this}}
