{{#this}}

    {{#if content.labels}}
        {{#each content.labels}}
            {{#this}}
                {{> input__label }}
            {{/this}}
        {{/each}}
    {{/if}}

    <span class="input{{#if attribute.modifier}} input--{{attribute.modifier}}{{/if}}{{#if attribute.status}} {{attribute.status}}{{/if}}{{#if attribute.disabled}} disabled{{/if}}">

        <select
            class="input__field input__field--select"
            {{#if attribute.multiple}} multiple="multiple"{{/if}}
            {{#if attribute.required}} required="required" aria-required="true"{{/if}}
            {{#if attribute.disabled}} disabled="disabled" aria-disabled="true"{{/if}}
            {{#if attribute.id}} id="{{attribute.id}}"{{/if}}
            {{#if attribute.form}} form="{{attribute.form}}"{{/if}}
            {{#if attribute.name}} name="{{attribute.name}}"{{/if}}
            {{#if attribute.size}} size="{{attribute.size}}"{{/if}}
            {{#if attribute.tabindex}} tabindex="{{attribute.tabindex}}"{{/if}}
            {{#if attribute.accesskey}} accesskey="{{attribute.accesskey}}"{{/if}}
        >

            {{#if content.optgroups}}
                {{#each content.optgroups}}
                        {{#this}}
                        {{> select__optgroup}}
                        {{/this}}
                {{/each}}

            {{else}}

                {{#if content.options}}
                    {{#each content.options}}
                            {{#this}}
                            {{> select__option}}
                            {{/this}}
                    {{/each}}
                {{/if}}

            {{/if}}

        </select>

    </span>
{{/this}}
