{{#this}}
{{#if content.tabs}}
<div{{#if item.id}} id="{{item.id}}"{{/if}} class="tabs{{#if item.modifier}} tabs--{{item.modifier}}{{/if}}">
	<div class="tabs__tray">
		<ul class="list list__tabs">
			{{#each content.tabs}} 
				{{#this}}
					<li class="list__item">
						<a href="#{{#if item.id}}{{item.id}}{{/if}}" class="list__link"{{#if content.tabTitle}} title="{{content.tabTitle}}"{{/if}}><span>{{{content.tabText}}}</span></a>
					</li>
				{{/this}}
			{{/each}}
		</ul>
	</div>
	<div class="tabs__content">
		{{#each content.tabs}}
			{{#this}}
				<div{{#if item.id}} id="{{item.id}}"{{/if}} class="tabs__body rte">{{{content.body}}}</div>
			{{/this}}
		{{/each}}
	</div>
</div>
{{/if}}
{{/this}}