{{#this}}

    <span class="input{{#if item.modifier}} input--{{item.modifier}}{{/if}}{{#if item.status}} {{item.status}}{{/if}}{{#if item.disabled}} disabled{{/if}}">

    <textarea
        type="text"
        role="textbox"
        aria-multiline="true"
        class="input__field
            {{#if item.modifier}} input__field--{{item.modifier}}{{/if}}
            {{#if item.size}} {{item.size}}{{/if}}"
        {{#if item.required}} required="required" aria-required="true"{{/if}}
        {{#if item.readonly}} readonly="readonly" aria-readonly="true"{{/if}}
        {{#if item.disabled}} disabled="disabled" aria-disabled="true"{{/if}}
        {{#if item.id}} id="{{item.id}}"{{/if}}
        {{#if item.name}} name="{{item.name}}"{{/if}}
        {{#if item.tabindex}} tabindex="{{item.tabindex}}"{{/if}}
        {{#if item.accesskey}} accesskey="{{item.accesskey}}"{{/if}}
        {{#if item.cols}} cols="{{item.cols}}"{{/if}}
        {{#if item.rows}} rows="{{item.rows}}"{{/if}}
        {{#if item.maxlength}} maxlength="{{item.maxlength}}"{{/if}}
        {{#if item.minlength}} minlength="{{item.minlength}}"{{/if}}
        {{#if item.wrap}} wrap="{{item.wrap}}"{{/if}}
        {{#if content.placeholder}} placeholder="{{content.placeholder}}"{{/if}}
     >{{{content.text}}}</textarea>

    </span>

{{/this}}