{{#this}}

    <span class="input{{#if attribute.modifier}} input--{{attribute.modifier}}{{/if}}{{#if attribute.status}} {{attribute.status}}{{/if}}{{#if attribute.disabled}} disabled{{/if}}">

    <textarea
        type="text"
        role="textbox"
        aria-multiline="true"
        class="input__field
            {{#if attribute.modifier}} input__field--{{attribute.modifier}}{{/if}}
            {{#if attribute.size}} {{attribute.size}}{{/if}}"
        {{#if attribute.required}} required="required" aria-required="true"{{/if}}
        {{#if attribute.readonly}} readonly="readonly" aria-readonly="true"{{/if}}
        {{#if attribute.disabled}} disabled="disabled" aria-disabled="true"{{/if}}
        {{#if attribute.id}} id="{{attribute.id}}"{{/if}}
        {{#if attribute.name}} name="{{attribute.name}}"{{/if}}
        {{#if attribute.tabindex}} tabindex="{{attribute.tabindex}}"{{/if}}
        {{#if attribute.accesskey}} accesskey="{{attribute.accesskey}}"{{/if}}
        {{#if attribute.cols}} cols="{{attribute.cols}}"{{/if}}
        {{#if attribute.rows}} rows="{{attribute.rows}}"{{/if}}
        {{#if attribute.maxlength}} maxlength="{{attribute.maxlength}}"{{/if}}
        {{#if attribute.minlength}} minlength="{{attribute.minlength}}"{{/if}}
        {{#if attribute.wrap}} wrap="{{attribute.wrap}}"{{/if}}
        {{#if content.placeholder}} placeholder="{{content.placeholder}}"{{/if}}
     >{{{content.text}}}</textarea>

    </span>

{{/this}}