<!doctype html>
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head> 
    <meta charset="utf-8" /> 

    <title>{{ title }}</title>  

    <meta http-equiv="content-language" content="en" />
    <meta http-equiv="imagetoolbar" content="no" />

    <meta name="description" content="{{ description }}" /> 
    <meta name="keywords" content="{{ keywords }}" /> 
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <meta name="author" content="" />
    <meta name="google_profile" content="" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="" />

    <link rel="author" href="" />
    <link rel="stylesheet" href="{{ assets }}/css/main.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />

    <!-- For retina-display iPads -->
    <!-- <link href="{{ assets }}/img/icons/retina_ipad_home.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/> -->
    <!-- For retina-display iPhones -->
    <!-- <link href="{{ assets }}/img/icons/iphone_home.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/> -->
    <!-- For iPad 1 -->
    <!-- <link href="{{ assets }}/img/icons/ipad_home.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/> -->
    <!-- For iPhone 3G, iPod Touch and Android -->
    <!-- <link href="{{ assets }}/img/icons/iphone_home.png" rel="apple-touch-icon-precomposed" type="image/png"/> -->
    <!-- For Nokia -->
    <!-- <link href="{{ assets }}/img/icons/iphone_home.png" rel="shortcut icon"/> -->
    <!-- For everything else -->
    <!-- <link href="{{ assets }}/img/icons/favicon.png" rel="shortcut icon" type="image/png"/> -->
    <!-- <link href="{{ assets }}/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/> -->   

    <!-- IE8 and below fallbacks -->
    <!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body id="alloy">

<div class="page">

    <nav class="wrap wrap--nav" role="navigation">
        
        {{> navigation }}

    </nav>

    <header class="wrap wrap--head" role="banner">
    
        {{> head }}

    </header><!-- .wrapper-header -->

    <main id="content" class="wrap wrap--primary" role="main">  

        {{> body }}

    </main><!-- .wrapper-primary -->

    <footer class="wrap wrap--foot" role="contentinfo">

        {{> foot }}

    </footer><!-- .wrapper-footer --> 

</div>

<!--
<div id="navigation" class="plane plane--navigation">

        <nav class="navigation navigation--main">
            {{> navigation }}
        </nav>


</div>
-->

<!-- JavaScript -->
<script src="{{ assets }}/js/app.min.js"></script>
{{#dev}}
<script src="http://localhost:35729/livereload.js"></script> 
{{/dev}}

<!--[if lte IE 8]>
<script type="text/javascript" src="{{ assets }}/js/libs/selectivizr/selectivizr.js"></script>
<![endif]-->

<!-- Google Analytics -->
<!-- <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script> -->

<!-- ./end -- alloy -->
</body>
</html>
