<!doctype html>
<!--[if IE 8]> <html class="no-js ie ie8 lt-ie8" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie ie9" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">

    <title>{{ page.title }} - ALLOY</title>

    {{> metatags }}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ assets }}/css/fontloader.css" />
    <link rel="stylesheet" href="{{ assets }}/css/main.css" />

    {{> metaicons }}

    {{> metacard }}

    {{> ALLOY_headscripts }}

</head>

<body id="{{{app.siteclass}}}-alloy"  class="m{{#if page.class-master }} m--{{page.class-master }} {{/if}}">

	{{> browsehappy }}

    {{> ALLOY_header }}
    {{> ALLOY_navigation }}
    {{> body }}
    {{> ALLOY_footer }}
    {{> ALLOY_copyright }}
    {{> ALLOY_scripts }}
    {{> ALLOY_jsonld }}
    {{> ALLOY_debug }}

    <!-- <div class="modal__mask modal__mask--visible"></div> -->

    <div id="mediaquery"></div>
</body>
</html>
