---
title: Systems Index


nav-title: "Systems"
nav-text: "Systems"
nav-variant: "systems"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__md--1">

  			<article class="article article--intro">
			    <header class="article__head head">
			        <h1 class="article__title">{{title}}</h1>
		        </header>
<!-- writings -->
		        <div class="article__body rte">
		  			<ul>
					{{#withSort pages}}
		                {{#if data.nav-title }}
		                    <li class="list__item"><a class="list_link list_link--{{data.nav-variant}}" href="{{relative ../../page.dest this.dest}}" title="{{data.nav-title}}">{{capitalizeFirst data.nav-text}}</a></li>
		                {{/if}}
		            {{/withSort}}
		            </ul>
		        </div>

<!-- reference -->

		        <section class="section section--reference">
		            <header class="section__head">
		                <h2 class="section__title">References</h2>
		            </header>
		            <div class="section__body rte">

		            </div>
		        </section>

	        </article>

	      

	    </div>

	</div>
</main>
