---
title: Components Index

nav-title: "Components"
nav-text: "Components"
nav-variant: "components"
navigation-main: true
navigation-order: 2
page-category: "components"
---

<main class="w w--main">
	<div class="g">
	    <div class="c__lg--1">

  			<div class="page{{#if nav-variant}} page--{{nav-variant}}{{/if}}">
				<div class="page__head">
					<h1 class="page__title">{{title}}</h1>
					{{#if subtitle}}<p class="page__subtitle">{{subtitle}}</p>{{/if}}
				</div>

<!-- writings -->

				<div class="page__body rte">
					{{#withSort page-category "page.title"}}
					{{#is page-category "components"}}
					<ul>
	    				{{#each this.pages}}
		            		{{#this}}
	                        <li><a class="list__link list__link--{{data.nav-variant}}" href="{{relative ../../../page.dest this.dest}}" title="{{data.nav-title}}"><span>{{capitalizeFirst data.nav-text}}</span></a></li>
	                        {{/this}}
	        			{{/each}}
	                </ul>
	                {{/is}}
	                {{/withSort}}
				</div>

<!-- reference -->

	        </div>

	    </div>
	</div>
</main>
