<div class="flash example{{#item.modifier}} flash--{{item.modifier}}{{/item.modifier}}{{#item.status}} {{item.status}}{{/item.status}}">
    <a href="#" class="flash__close">&times;</a>
    <div class="flash__icon">{{#content.icon}}
        {{#item.modifier}}
        	<i class="icon icon--{{item.modifier}}{{#item.size}} {{item.size}}{{/item.size}}"{{#content.title}} title="{{content.title}}"{{/content.title}} aria-hidden="true" role="img"></i>
    	{{/item.modifier}}
    {{/content.icon}}</div>
    <div class="flash__content">{{content.text}}</div>
</div>