<div class="toast popup{{#attribute.modifier}} toast--{{attribute.modifier}}{{/attribute.modifier}}{{#attribute.status}} {{attribute.status}}{{/attribute.status}}">
    <a href="?err=nojs&module=toast&action=close" class="toast__close">&times;</a>
    <div class="toast__icon">{{#content.icon}}
        <i class="icon {{#attribute.modifier}}icon--{{attribute.modifier}}{{/attribute.modifier}}{{#attribute.size}} {{attribute.size}}{{/attribute.size}}"{{#content.title}} title="{{content.title}}"{{/content.title}} aria-hidden="true" role="img"></i>
    {{/content.icon}}</div>
    <div class="toast__content">{{content.text}}</div>
    <div class="toast__progress"></div>
</div>