<div class="toast popup{{#item.modifier}} toast--{{item.modifier}}{{/item.modifier}}{{#item.status}} {{item.status}}{{/item.status}}">
    <a href="?err=nojs&module=toast&action=close" class="toast__close">&times;</a>
    <div class="toast__icon">{{#content.icon}}
        <i class="icon {{#item.modifier}}icon--{{item.modifier}}{{/item.modifier}}{{#item.size}} {{item.size}}{{/item.size}}"{{#content.title}} title="{{content.title}}"{{/content.title}} aria-hidden="true" role="img"></i>
    {{/content.icon}}</div>
    <div class="toast__content">{{content.text}}</div>
    <div class="toast__progress"></div>
</div>